.DS_Store
node_modules

!.gitignore
!wp-content/

wp-content/*
!wp-content/plugins/
!wp-content/themes/

wp-admin
wp-includes
wp-content/plugins/webp-express
wp-content/plugins/webp-simple
index.php
robots.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-old.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php