

.keywords { color: $blue; padding: 50px 0 0 calc(var(--col-3) + var(--gutter)); margin: 100px auto }
.keywords svg { position: absolute; top: 0; left: 0; width: 380px }

.keywords__text p { font-size: 16px; font-weight: bold }
.keywords__items { margin: 40px 0 0 0 }
.keywords__item { font-size: 72px; line-height: 1.15; letter-spacing: -0.04em}



@media (max-width: 600px) {
	.keywords { padding: 50px 0 0 0 }
	.keywords svg { width: 160px; top: -60px}
	.keywords__item { font-size: 32px }
}