.pressBlock {
  margin: 7em 0 5em 0;
}
.pressBlock:last-child {
  margin: 7em 0;
}

@media (max-width: 1100px) {
  .centre + .pressBlock {
    margin-top: 3em;
  }
}
@media (max-width: 600px) {
  .centre + .pressBlock {
    margin-top: 2em;
  }
}