.sourcesBlock {
    display : block;
    padding: 2rem;
    h2 {
        color: coral;
    }
    li::marker {
        color: coral;
    }
    li {
        color: $greytext;
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        font-style: italic;
    }
    border: 0.5rem solid $nude; 
}