:root {
  --heightNav: 110px;
}

// .siteHeader * { position: initial }
.siteHeader {
  z-index: 8;
  position: sticky;
  top: 0;
  align-items: center;
  height: 100px;

  font-size: 18px;
  /*
  @media (max-width: 1400px) {
    font-size: 15px;
  }
  @media (max-width: 1200px) {
    font-size: 14px;
  }
  */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    height: 100%;
    width: 100vw;
    background: #fff;
  }

  @media (max-width: 1300px) {
    font-size: 17px;
    height: 4rem;
  }
  @media (max-width: 1100px) {
    font-size: 16px;
  }
  @media (max-width: 600px) {
    height: 60px;
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 100%;
    background: #fff;
  }
  &__subNavBG {
    z-index: -1;
    position: absolute;
    top: 100%;
    left: calc(50% - 50vw);
    width: 100vw;
    background: #fff;
    height: 0;
    border-bottom: 3px solid $nude;
  }
  &__more {
    display: flex;
    align-items: center;
    & > * {
      &:not(:first-child) {
        margin-left: 4px;
      }
      &.burger {
        margin-left: 22px;
      }
    }
    .siteHeader__contact {
      @media (max-width: 600px) {
        display: none;
      }
    }
    .cta {
      @media (max-width: 1000px) {
        margin-left: 4px;
      }
      @media (max-width: 340px) {
        display: none;
      }
    }
  }
  &__contact {
    @media (max-width: 600px) {
      padding: 15px var(--gutter);
      border: none;
      // border-bottom: 1px solid $nude;
      color: $orange;
      border-radius: 0;
      width: 100%;
      &::after {
        content: none;
      }
    }
  }

  &__logo {
    width: 160px;
    transform: translateY(-3px);
    @media (max-width: 1300px) {
      width: 130px;
      transform: none;
    }

    @media (max-width: 600px) {
      width: 110px;
      transform: none;
    }
  }
  &__nav__container {
    height: 100px;
    @media (max-width: 1300px) {
      height: 80px;
    }
    @media (max-width: 1000px) {
      position: absolute;
      top: 0px;
      padding-top: 4rem;
      z-index: 1;
      background: $nude;
      width: 100vw;
      height: 100vh;
      margin-left: calc(-1 * var(--gutter));
      margin-right: calc(-1 * var(--gutter));
      max-width: 0;
      overflow: hidden;
      transition: 0.6s;
      transition-timing-function: ease-out;
      &.open {
        transition-timing-function: ease-in;
        max-width: 85%;
        backdrop-filter: grayscale(30%);
      }
    }
    nav {
      height: 100%;
      color: $greytext;
      text-transform: uppercase;
      @media (min-width: 1001px) {
        &:hover {
          li.menu-item-has-children {
            &::before {
              display: block;
            }
          }
        }
      }
      ul {
        list-style: none;
      }

      @media (max-width: 1000px) {
        & > ul > li {
          &[class*="current"] > a {
            font-weight: bold;
          }
        }
        li {
          // border-top: 1px solid $nude;
          &:first-child {
            border-top: none;
          }
          &:last-child {
            // border-bottom: 1px solid $nude;
          }

          &.menu-item-has-children {
            position: relative;
            &::before,
            &::after {
              content: "";
              display: block;
              background: #000;
              height: 1px;
              width: 6px;
              position: absolute;
              right: var(--gutter);
              top: 26px;
              transform-origin: left;
              transition: 0.6s;
            }
            &::before {
              transform: rotate(-135deg);
            }
            &::after {
              transform: rotate(-45deg);
            }

            .sub-menu {
              max-height: 0;
              overflow: hidden;
              transition: 0.6s;
              transition-timing-function: ease-out;
            }
            &.open {
              &::before {
                transform: rotate(135deg);
              }
              &::after {
                transform: rotate(45deg);
              }
              .sub-menu {
                max-height: calc(52px * 8);
                transition-timing-function: ease-in;
              }
            }
          }
          a {
            display: inline-block;
            padding: 15px var(--gutter);
          }
          li {
            // border-top: 1px solid $greylight;
            font-family: fleya;
            a {
              width: 100%;
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }

      @media (min-width: 1001px) {
        & > ul {
          height: 100%;
          display: flex;
          justify-content: space-between;

          & > li {
            height: 100%;
            & > a {
              display: flex;
              align-items: center;
              height: 100%;
              padding: 0 7px;
            }
          }
        }

        li::before {
          display: block !important;
        }

        li.first-item {
          &::before {
            content: "";
            display: none;
            width: 7px;
            height: 7px;
            background: $npurple;
            border-radius: 7px;
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.4s;
          }
          &.current_page_item,
          &.current_page_parent {
            &::before {
              opacity: 1;
            }
          }
          .sub-menu {
            width: 300px;
            left: 0;
            position: absolute;
            top: calc(100% - 20px);
            padding: 20px 40px 20px 30px;
            box-shadow: 0 0 10px rgb(0 0 0 / 10%);
            border-radius: 5px;
            &:hover {
              color: #999999;
            }
            li {
              &:hover {
                &::before {
                  opacity: 0.6;
                }
              }
              &.current {
                &::before {
                  opacity: 1;
                }
              }
              a {
                transition: 0.3s;
                padding: 5px 0;
                display: inline-block;
                &:hover {
                  color: $npurple;
                }
              }
            }
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }

        body.home .siteHeader::after {
          border: 0;
        }

        li.menu-item-has-children .sub-menu {
          display: none;
          animation: subNavAppear 0.5s forwards cubic-bezier(0.25, 0, 0, 1);
          // font-size: 15px;
          background: #fff;
          font-family: fleya;
        }
        li.menu-item-has-children:hover .sub-menu {
          display: block;
        }
      }
      @media (min-width: 1000px) and (max-width: 1100px) {
        & > ul > li > a {
          padding: 0 4px;
        }
      }
    }
  }
  &__connect {
    display: inline-grid;
    place-items: center;
    vertical-align: middle;
    border: 1px solid $orange;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @media (max-width: 1200px) {
      width: 35px;
      height: 35px;
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__lang {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 10px;
    transform: translateY(2px);
    @media (max-width: 1400px) {
      display: none;
    }
  }
}

$timing: 0.6s;

.burger {
  z-index: 2;
  height: 12px;
  width: 26px;
  position: relative;
  margin-left: 6px;
  @media (max-width: 1000px) {
    display: inline-block;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
  }
  span {
    display: block;
    background: #000;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    &:first-child {
    }
    &:nth-child(2) {
      top: 5px;
    }
    &:last-child {
      top: 10px;
    }
  }
  &.open {
    span {
      animation-direction: normal;
      &:first-child {
        animation: span1Forwards ease-in-out $timing forwards;
      }
      &:nth-child(2) {
        animation: span2Forwards ease-in-out $timing forwards;
      }
      &:last-child {
        animation: span3Forwards ease-in-out $timing forwards;
      }
    }
  }
  &.close {
    span {
      animation-direction: normal;
      &:first-child {
        animation: span1Backwards ease-in-out $timing forwards;
      }
      &:nth-child(2) {
        animation: span2Backwards ease-in-out $timing forwards;
      }
      &:last-child {
        animation: span3Backwards ease-in-out $timing forwards;
      }
    }
  }
}
@keyframes span1Forwards {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 5px;
    transform: rotate(45deg);
  }
}
@keyframes span1Backwards {
  100% {
    top: 0px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  0% {
    top: 5px;
    transform: rotate(45deg);
  }
}
@keyframes span2Forwards {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes span2Backwards {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes span3Forwards {
  0% {
    top: 10px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 5px;
    transform: rotate(-45deg);
  }
}
@keyframes span3Backwards {
  100% {
    top: 10px;
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  0% {
    top: 5px;
    transform: rotate(-45deg);
  }
}

@keyframes subNavAppear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.sub-menu img {
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 190px;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1001px) {
  .siteHeader nav > ul > li[class*="current"]::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: $npurple;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.sub-menu li[class*="current"] {
  color: $npurple;
  font-weight: bold;
}

.siteHeader > nav > ul > li > a {
  cursor: default;
}

.siteHeader > nav > ul > li > a[href] {
  cursor: pointer;
}

.sub-menu li {
  text-transform: capitalize;
  font-size: 1rem;
}

.cta--header {
  width: fit-content;
  border: 2px solid $npurple;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: $npurple;
  color: #fff;
  padding: 5px 18px;
  font-size: initial;
  text-align: center;
  @media (max-width: 1000px) {
    // margin: 0 auto;
    // width: 85%;
  }
  &:hover {
    background-color: #fff;
    color: $npurple;
  }
}

.menu-menu-principal-francais-container.close {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  // transition-delay: 0.1s;
}
.menu-menu-principal-francais-container.open {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.8s;
  transition-delay: 0.4s;
}

.first-item {
  @media (max-width: 1000px) {
    margin: 0 1rem;
    &:not(:last-child) {
      border-bottom: 1px solid $greylight;
    }
  }
}
