/*--------- Couleurs ---------*/

$nude: #fff5ed;
$nudeDarker: #fbe8d9;
$orange: #ff8347;
$blue: #061ca6;
$blueLight: #b7e2ff;
$coraldark: #fc2735;
$coral: #ff4750;
$yellow: #ffe140;
$purple: #5d23d0;
$greytext: #5c5b5b;
$greymiddle: #8b8b8b;
$greylight: #c1c1c1;

$npurple: #424eb1;

.fleya {
  font-family: Fleya;
}

/*--------- Styles de texte ---------*/

h1,
.h1 {
  font-family: Fleya;
  font-weight: 400;
  font-size: 300%;
  line-height: 1.1;
  color: $blue;
  letter-spacing: -1px;
  margin: 0.5em 0;
  text-transform: initial;
}

h2,
.h2 {
  font-family: inherit;
  font-weight: 300;
  font-size: 200%;
  line-height: 1.1;
  color: $blue;
  text-transform: uppercase;
  margin: 0 0 0.5em;
}
h3,
.h3 {
  font-weight: 500;
  font-size: 150%;
  line-height: 1.3;
}
h4,
.h4 {
  font-weight: 400;
  font-size: 150%;
  line-height: 1.3;
  color: $blue;
}

.quote {
  text-transform: uppercase;
  letter-spacing: 2px;
}

p + p {
  margin-top: 10px;
}

.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
  color: $orange;
}

.date {
  font-weight: 700;
  font-size: 85%;
}

@media (max-width: 1400px) {
  // body { font-size: 14px; }
  h1,
  .h1 {
    font-size: 250%;
  }
  h2,
  .h2 {
    font-size: 180%;
    letter-spacing: 3px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  h1,
  .h1 {
    font-size: 200%;
  }
  h2,
  .h2 {
    font-size: 150%;
    letter-spacing: 2px;
  }
}

/*--------- CTA ---------*/

.cta {
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  padding: 10px 40px 11px 25px;
  border: 1px solid $orange;
  border-radius: 75px;
  color: white;
  text-decoration: none;
  background: $orange;
  overflow-wrap: break-word;
  cursor: pointer;
}
.cta:after {
  content: url(assets/img/ctaArrow.svg);
  position: absolute;
  top: calc(50% - 11px);
  right: 20px;
  width: 10px;
  height: 14px;
}
.cta--ghost {
  background-color: white;
  color: $orange;
}
.cta--ghost:after {
  content: url(assets/img/ctaArrow--ghost.svg);
}

.cta:after {
  transition-duration: 0.4s;
}
.cta:hover:after {
  transform: translateX(4px);
}

.wp-block-button__link {
  font-size: 16px;
  display: inline-block;
  padding: 12px 50px 11px 24px;
  border: 1px solid $orange;
  border-radius: 75px;
  background-color: $orange;
  box-shadow: none;
  color: white;
  cursor: pointer;
  margin: 0;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
}
.wp-block-button__link:after {
  content: url(assets/img/ctaArrow.svg);
  position: absolute;
  top: 14px;
  right: 25px;
  width: 10px;
  height: 14px;
}
.is-style-outline .wp-block-button__link {
  background-color: white;
  border: 1px solid $orange;
  color: $orange;
}
.is-style-outline .wp-block-button__link:after {
  content: url(assets/img/ctaArrow--ghost.svg);
}
.wp-block-buttons.is-content-justification-center {
  text-align: center;
}

.wp-block-button__link:after {
  transition-duration: 0.4s;
}
.wp-block-button__link:hover:after {
  transform: translateX(4px);
}

.has-aesthe-purple-background-color .is-style-outline .wp-block-button__link {
  border: white !important;
}

@media (max-width: 1200px) {
}
@media (max-width: 600px) {
  .submenuSiblings + .wp-block-image {
    margin-top: 0;
  }
  .wp-block-columns + .h2--engagements {
    margin-top: 20px;
  }
  .wp-block-button__link {
    padding: 9px 33px 9px 17px;
  }
  .cta {
    padding: 9px 36px 9px 17px;
  }
  .cta:after,
  .wp-block-button__link:after {
    right: 15px;
    top: 11px;
  }
}

/*--------- Cercles côté ---------*/

/*
.circle {
  position: absolute;
  width: 555px;
  height: 536px;
  background-color: $purple;
  border-radius: 100%;

  &--right	{ right: calc(-500px - var(--leftMargin)); top: 5%; }
  &--left { left: calc(-480px - var(--leftMargin)) ; top: 20%; }
  &--top { top: -520px; left: 50%; transform: translateX(-50%); }
  &--bottom { bottom: -520px; left: 50%; transform: translateX(-50%); }

  &--yellow{ background: $yellow;}
  &--blue{ background: $blue;}
  &--bluelight{ background: $blueLight;}
  &--orange{ background: $orange;}
  &--red{ background: $coral;}

}
*/

.circle {
  position: absolute;
  overflow: hidden;
}
.circle::before {
  content: "";
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  display: block;
}

.circle--white::before {
  background-image: url(assets/img/circles/circle-white.svg);
}
.circle--nude::before {
  background-image: url(assets/img/circles/circle-nude.svg);
}
.circle--nudeDarker::before {
  background-image: url(assets/img/circles/circle-nudeDarker.svg);
}
.circle--orange::before {
  background-image: url(assets/img/circles/circle-orange.svg);
}
.circle--blue::before {
  background-image: url(assets/img/circles/circle-blue.svg);
}
.circle--blueLight::before {
  background-image: url(assets/img/circles/circle-blueLight.svg);
}
.circle--coral::before {
  background-image: url(assets/img/circles/circle-coral.svg);
}
.circle--yellow::before {
  background-image: url(assets/img/circles/circle-yellow.svg);
}
.circle--purple::before {
  background-image: url(assets/img/circles/circle-purple.svg);
}

.techMedsBlock .circle::before {
  background-image: url(assets/img/circles/circle-nude.svg);
}
.epilation-laser .circle::before {
  background-image: url(assets/img/circles/circle-orange.svg);
}
.homme .circle::before {
  background-image: url(assets/img/circles/circle-blue.svg);
}
.zoom-sur-zones .circle::before {
  background-image: url(assets/img/circles/circle-blueLight.svg);
}
.en-un-clin-doeil .circle::before {
  background-image: url(assets/img/circles/circle-coral.svg);
}
.nouvelle-jeunesse .circle::before {
  background-image: url(assets/img/circles/circle-yellow.svg);
}
.belle-peau .circle::before {
  background-image: url(assets/img/circles/circle-purple.svg);
}

/*couleur des cercles des cards en fonction des catégories*/
.card.epilation-laser .circle::before {
  background-image: url(assets/img/circles/circle-orange.svg);
}
.card.homme .circle::before {
  background-image: url(assets/img/circles/circle-blue.svg);
}
.card.zoom-sur-zones .circle::before {
  background-image: url(assets/img/circles/circle-blueLight.svg);
}
.card.en-un-clin-doeil .circle::before {
  background-image: url(assets/img/circles/circle-coral.svg);
}
.card.nouvelle-jeunesse .circle::before {
  background-image: url(assets/img/circles/circle-yellow.svg);
}
.card.belle-peau .circle::before {
  background-image: url(assets/img/circles/circle-purple.svg);
}

/*--------- Cards ---------*/

.single-offre .card {
  pointer-events: none;
}
.card a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px 0;
}

.card {
  overflow: hidden;
  width: var(--col-3);
  height: var(--col-4);
  border-radius: 4px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  background: #fff;

  @media (max-width: 1200px) {
    width: var(--col-4);
    height: calc(var(--col-4) + var(--col));
  }
  @media (max-width: 800px) {
    width: var(--col-6);
    height: calc(var(--col-6) + var(--col));
  }
  @media (max-width: 600px) {
    margin: 0 auto;
    width: 280px;
    height: 400px;
    // width: var(--col-8);
    // height: var(--col-11);
  }
}

.offreBanner__card .card {
  height: auto;
}

.card:not(.on) {
  cursor: pointer;
}
.card__head {
  letter-spacing: -0.02em;
  padding: 0 25px;
  margin: 0 0 5px;
  /*
  @media (min-width: 800px) and (max-width: 1400px) {
    padding: 0 20px;
  }
  */
  @media (max-width: 600px) {
    padding: 0 8%;
  }
}
.card__head p {
  font-size: 90%;
  opacity: 0.6;
  margin: 0 0 5px 0;
}
.card__head h3 {
  color: $blue;
  line-height: 1;
  letter-spacing: -0.03em;
  @media (min-width: 800px) and (max-width: 1400px) {
    font-size: 125%;
  }
  @media (max-width: 800px) {
    font-size: 130%;
  }
}
.card__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  transition: 0.3s cubic-bezier(0.25, 0, 0, 1);
  @media (min-width: 800px) and (max-width: 1400px) {
    height: 48%;
  }
  @media (max-width: 800px) {
    //height: 52%;
  }
}
.card .circle {
  transition: 0.3s cubic-bezier(0.25, 0, 0, 1);
  z-index: 1;
  width: 165px;
  height: 165px;
  top: calc(50% - 55px);
  right: 0;
  transform: translateX(135px);
}
// .card button { position: absolute; right: 10px; top: 10px; }

.card .cta {
  margin: 10px 0 0;
  @media (min-width: 800px) and (max-width: 1400px) {
    margin-top: 15px;
    /*
    padding: 0;
    border: none;
    text-decoration: underline;
    
    &::after{
      content: none;
    }
    */
  }
  @media (max-width: 800px) {
    margin: 10px 0 0;
  }
  @media (min-width: 500px) and (max-width: 600px) {
    margin-top: 5px;
    /*
    padding: 0;
    border: none;
    text-decoration: underline;
    
    &::after{
      content: none;
    }
    */
  }
}

.card .card__excerpt {
  position: absolute;
  top: 45px;
  line-height: 1.2;
  padding: 0 25px;
  transition: 0.3s cubic-bezier(0.25, 0, 0, 1);
  margin: 3.5em 0 0 0;
  transform: translateY(10px);
  opacity: 1;
  font-size: 80%;
  /*
  @media (min-width: 800px) and (max-width: 1400px) {
    padding:  0 20px;
    margin: 1.8em 0 0 0;
  }
  */
  @media (max-width: 800px) {
    margin: 2.5em 0 0 0;
  }
  @media (max-width: 600px) {
    padding: 0 8%;
    margin: 1.8em 0 0 0;
  }
}
.card .card__details {
  padding: 0 25px;
  top: 23px;
  line-height: 1.3;
  font-size: 85%;
  transition: 0.3s cubic-bezier(0.25, 0, 0, 1);
  transform: translateY(10px);
  opacity: 0;
  /*
  @media (min-width: 800px) and (max-width: 1400px) {
    padding: 0 20px;
  }
  */
  @media (max-width: 600px) {
    padding: 0 8%;
  }
}

.card__close {
  opacity: 0;
  transition: 0.4s;
}

@media (pointer: fine) and (min-width: 1025px) {
  .card:hover .card__excerpt {
    transform: none;
    opacity: 0;
  }
  .card:hover .card__img {
    transform: translateY(100%);
  }
  .card:hover .circle {
    transform: translateX(100%);
  }
  .card:hover .card__details {
    transform: none;
    opacity: 1;
  }
  .card:hover .card__close {
    opacity: 1;
  }
}

.card.tiny {
  width: 210px;
  height: 250px;
  font-size: 60%;
  // padding: 25px 0;
}
.card.tiny .circle {
  width: 120px;
  height: 120px;
  right: 30px;
}
.card.tiny .card__close,
.card.tiny .card__excerpt {
  display: block;
  font-size: 120%;
  top: 20px;
}

.card.tiny .card__head {
  padding: 0 20px;
}
.card.tiny .card__excerpt {
  padding: 0px 20px;
}

@media (max-width: 600px) {
  .card.tiny .card__excerpt {
    top: 30px;
  }
}

/*--------- Bandeau fil d'ariane / Top Banner ---------*/

.topBanner {
}
.breadcrumb {
  font-size: 16px;
  font-family: "Fleya";
  padding: 15px 0px;
  flex: 0 0 auto;
  @media (max-width: 1000px) {
    display: none;
  }
  a {
    padding: 0 10px;
    padding-left: 0 !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .breadcrumb {
    display: none;
  }
}

/*-----------------   tns nav   -------------------*/

.tns-nav {
  display: flex;
  margin: 0 0 30px;
  justify-content: center;
}
.tns-nav button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  background: $greylight;
}
.tns-nav button + button {
  margin: 0 0 0 8px;
}
.tns-nav button.tns-nav-active {
  background: $npurple;
  transform: scale(1.5);
}

._form_16 ._form-content button:after {
  display: none !important;
}

._form label {
  display: inline-block;
}

// ._submit:hover {
// background-color: #fbe8d9;
// color:#5d23d0;
// }

/*-----------------   activ campain   -------------------*/

.widget_welcome_message_dismiss {
  opacity: 1 !important;
  visibility: inherit !important;
}
