.plan{
display: flex;
flex-direction: row;
}

.plan {
  &__section {
    margin: 1rem;
    h1 {
      text-transform: capitalize;
      text-decoration: underline;
    }
    h2 {
      text-transform: capitalize;
      font-size: 150%;
    }
  }
}